<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>
    <title>code search</title>
    <link rel="icon" href="{% static 'img/title_icon.jpg' %}">

</head>

<body>

    <div class="container wrapper">
    <dev>

        <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="container">
        <a class="navbar-brand mb-0 h1">
            <div id="mainlogo">
                <p class="font-weight-bold" id="upside">F I N D C O D E</p>
                <div class="d-flex">
                    <div class="d-inline-block" id="blocklogo"></div>
                    <p class="d-inline-block" id="lowside">UKRAINE</p>
                </div>
            </div>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a href="/index" class="nav-link active">Search</a>
                </li>
                <li class="nav-item">
                    <a href="/files" class="nav-link">Convertors</a>
                </li>
                <li class="nav-item active">
                    <a href="/nomenclature" class="nav-link">Nomenclature</a>
                </li>
                <li class="nav-item">
                    <a href="/invoice" class="nav-link">Invoice</a>
                </li>
            </ul>
        </div>
        </div> <!-- /container -->
        </nav>

        <div id="form" class="mb-5" style="background-color: #FFC700; padding: 20px">
            <form action="{% url 'hscode' %}" method="get" class="mb-5">
                {% csrf_token %}
	            <h2 style="padding-bottom: 20px">START YOUR SEARCH</h2>
                <div class="d-flex">
                    <input id="inputsearch" class="container-fluid" type="text" name="q" placeholder="Enter the query"></input>
                    <button id="buttonsearch" class="btn btn-secondary btn-lg" type="submit">SEARCH</button>
                </div>

            </form>
            <p><img src="{% static 'img/info-square-fill.svg' %}" >&emsp;SAMPLE SEARCH REQUEST:&emsp;&emsp;by commodity code: 8302300090&emsp;&emsp;by commodity description: electric generator</p>
        </div>

    </dev>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="{% static 'index/js/bootstrap.min.js' %}"></script> -->

    </div> <!-- /container -->

    <footer class="footer">
        <div class="container">
            <div class="d-sm-flex justify-content-between">
                <div class="footer-left">
                    <p class="font-weight-bold">COMMODITY CODE SEARCH</p>
                    <br><br>
                    <p>findcode ukraine 2022</p>
                </div>
                <div class="footer-right">
                    <span class="font-weight-bold">CONTACTS</span>
                    <p></p>
                    <p>Ukraine, 04070, Kyiv city<br>Python Developers str 3, office 4<br>email: office@findcode.com.ua</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>